extends ../main

block content
    .row
        .col-lg-12
            .panel.panel-default
                .panel-heading 添加宿舍
                    a.btn.btn-link.pull-right 返回
                .panel-body
                    form.form-horizontal#stu_add_form(method='post',action='/admin/dorm/save')
                        .form-group
                            label.col-sm-2.control-label 宿舍号
                            .col-sm-8
                                input.form-control#AjaxSno(type='text',name='dorm[dno]')
                        .form-group
                            label.col-sm-2.control-label 宿舍楼
                            .col-sm-8
                                input.form-control#AjaxSno(type='text',name='dorm[build]')
                        .form-group
                            .col-sm-offset-2.col-sm-10
                                button.btn.btn-primary(type='submit',id='dorm_add_submit',style='margin-right:10px') 提交
                                button.btn.btn-default(type='reset',id='dorm_add_reset') 重置